.bg_header {
    background-color: rgb(44, 62, 80);
    /* height: 80px; */
}

.navbar {
    color: white;
}

.bg_jumbo {
    background-color: rgb(26, 188, 156);

    /* debug */
    height: 400px;
}

.jumbotron {
    text-align: center;
    color: white;
}

.jumbotron img {
    width: 200px;
    height: 200px;
}

.jumbotron h2 {
    font-size: 50px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon .fa-star {
    margin: 0 10px;
}

.line {
    width: 10%;
    height: 2px;
    background-color: white;
    margin: 20px 0;
}

.black {
    background-color: black;
}

.title-section {
    text-align: center;
    margin: 20px 0;
}

.row img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bg_green {
    background-color: rgb(26, 188, 156);
    color: white;
    text-align: center;

    /* debug */
    /* height: 300px; */
}

.button {
    margin: 30px;
}

.bg_footer {
    background-color: rgb(58, 84, 109);
}

.bg_footer_dark {
    background-color: rgb(44, 62, 80);
    text-align: center;
}
